# Variables

## 1. 기본 데이터 타입
* 숫자형 : int, float, complex
* 문자형 : str
* 불린형 : boolean
* 바이너리형 : bytes, bytearray, memoryview

In [12]:
i = 10  # 정수형

type(i)        # 데이터 타입 확인 
print(type(i)) # 데이터 타입 확인 

j = 10.5 # 실수형

type(j)  # 데이터 타입 확인

<class 'int'>

float

In [13]:
# 문자열은 " "  또는 ' '로 감싼다. 
title ="여행의 이유" 
author = '김영하' 

print( type(title) ) # 데이터 타입 확인 

# 여러줄 문자열 
message="""여행-일상-여행의 고리를 잇는,
아홉 개의 매혹적인 이야기""" 

print(title, " :: " , author)
print(message )

# 문자열 길이
print( len(title)  )

<class 'str'>
여행의 이유  ::  김영하
여행-일상-여행의 고리를 잇는,
아홉 개의 매혹적인 이야기
6

In [14]:
answer = True #불린 데이터 타입
print(answer)
answer = False
print(answer)
answer = (10 == 10) 
print(answer)
answer = (10 != 10) 
print(answer)
print( type(answer) )  # 데이터 타입 확인

True
False
True
False
<class 'bool'>

In [ ]:
a = 20 #대입연산자
b = 15 #대입연산자
result = a + b ; print( result )   # 덧셈연산자 
result = a - b ; print( result )   # 뺄셈연산자 
result = a * b ; print( result )   # 곱셈연산자
result = a / b ; print( result )   # 나눗셈연산자
result = a // b ; print( result )  # 나누기(몫)연산자
result = a % b ; print( result )   # 나눈 나머지연산자 
result = a ** 2 ; print( result )  # 제곱연산자

## 2. 데이터 구조
* Sequence Type : list, tuple, range
* Set Type : set
* Mapping Type : dict

In [18]:
# set 데이터 타입
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

## 3. 데이터 타입 변환

In [10]:
# 키보드 입력
name = input("이름을 입력하세요\n")

english_score = input("영어 점수를 입력하세요\n")
science_score = input("과학 점수를 입력하세요\n")
math_score = input("수학 점수를 입력하세요\n")

이름을 입력하세요
 홍길동
영어 점수를 입력하세요
 20
과학 점수를 입력하세요
 40
수학 점수를 입력하세요
 50

In [11]:
# 산술연산을 하려면 숫자 데이터타입으로 타입변환을 해야 함. 

english_score = int (english_score)  # 정수로 타입 변환 
science_score = float (science_score)# 실수로 타입 변환 
math_score = float (math_score)# 실수로 타입 변환

avg = (english_score+science_score+math_score)/3
avg

36.666666666666664

In [12]:
num = 10 
print ( str(num) + "번" )

10번

In [13]:
num = 10 

print ( bool(num) )
print ( bool(0) , bool(-1)  )  #숫자 0만 False,  나머지 모두 True

True
False True

## 4. 출력 형식 
* %d   정수
* %f   실수 
* %s   문자열

In [14]:
# 출력 포멧 갯수와  % 뒤에 나오는 숫자(또는 문자)의 개수가 같아야 함 

print(" 이름 : %s , 평균점수 : %f" % (name, avg  ))

# %5s   -->  문자열을 5자리로 출력 
# %5.2f -->  실수를 전체 5자리. 소수점이하 2자리로 출력  
print(" 이름 : %5s , 평균점수 : %5.2f" % (name, avg  ))

 이름 : 홍길동 , 평균점수 : 36.666667
 이름 :   홍길동 , 평균점수 : 36.67

In [15]:
# {0:4s} --> 4자리 문자열, 0번째 데이터인(name)
# {1:5f} --> 전체 5자리 소수점이하 2자리 실수, 1번째 데이터인(avg)
message = "{0:4s}학생의 평균점수는 {1:5.2f} 입니다.".format(name,avg)
print(message)

# {1:4s} --> 4자리 문자열 1번째 데이터인(name)
# {0:5f} --> 전체 5자리 소수점이하 2자리 실수. 0번째 데이터인(avg)
message = "{1:4s}학생의 평균점수는 {0:5.2f} 입니다.".format(avg,name)
print(message)

홍길동 학생의 평균점수는 36.67 입니다.
홍길동 학생의 평균점수는 36.67 입니다.

In [16]:
dash = "-"
print(dash * 50)  # 문자열 * 숫자 는 문자열을 숫자만큼 반복

--------------------------------------------------