# Data Structure

## 2. Tuple

* tuple 자료형은 데이터의 목록이라고 보면 됩니다.
* 콤마(,)로 데이터를 나열하면 tuple입니다.
* 괄호()안에 ,로 나열해도 tuple입니다.
* 길이 1개짜리 tuple을 만들려면 반드시 뒤에 콤마(,)를 붙여야 합니다.
* tuple은 다른 자료형들로 만들 수 있습니다.
* tuple은 tuple을 가질 수 있습니다.

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

* 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
* 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

## (1) 생성

In [4]:
# 튜플 생성 방법 1
mytuple1 = tuple()

print(type(mytuple1), mytuple1)

<class 'tuple'> ()

In [5]:
# 튜플 생성 방법 2
mytuple2 = 1, 2, 3, 4, 5
mytuple3 = (6, 7, 8, 9, 10)

print(mytuple2, type(mytuple2))
print(mytuple3, type(mytuple3))

(1, 2, 3, 4, 5) <class 'tuple'>
(6, 7, 8, 9, 10) <class 'tuple'>

In [7]:
mytuple = ("apple", "banana", "cherry")

print(mytuple)

('apple', 'banana', 'cherry')

In [6]:
# 튜플 아님
tuple3 = 1
tuple4 = (6)

print(tuple3, type(tuple3))
print(tuple4, type(tuple4))

1 <class 'int'>
6 <class 'int'>

## (2) Item 접근

In [13]:
mytuple = ("apple", "banana", "cherry")

print(mytuple[0])
print(mytuple[-1])  # 마지막 아이템
print(mytuple[-2])
print(mytuple[:2])
print(mytuple[2:3])

apple
cherry
banana
('apple', 'banana')
('cherry',)
3

## (3) Item 갯수, 추가, 삭제

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple)) # 튜플 길이 (아이템 갯수)

In [17]:
# 아이템 추가 - 리스트 이용

thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.append("orange")

thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [19]:
# 아이템 변경 - 리스트 이용

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y[1] = "kiwi"
thistuple = tuple(y)

print(thistuple)

('apple', 'kiwi', 'cherry')

In [21]:
# 튜플 합치기
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## (4) 튜플 함수

https://www.w3schools.com/python/python_tuples_methods.asp