# Data Structure

## 3. Set

* set 자료형은 중복을 허용하지 않습니다.
* set은 입력된 순서는 중요하지 않습니다.
* set() 생성자 함수를 이용해서 만들 수 있습니다.
* {}를 이용해서 만들 수 있습니다.

## (1) 생성

In [2]:
# 집합 생성 방법 1
myset1 = set()

print(type(myset1), myset1)

<class 'set'> set()

In [5]:
# 집합 생성 방법 2
myset2 = {"apple", "banana", "cherry"}

print(myset2, type(myset2))

{'cherry', 'banana', 'apple'} <class 'set'>

In [6]:
# 중복 안됨
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

## (2) Item 접근

In [10]:
thisset = {"apple", "banana", "cherry", "cherry"}

print("banana" in thisset)
print(len(thisset))

True
3

## (3) Item 추가, 수정, 삭제

In [11]:
# 아이템 추가
thisset = {"apple", "banana", "cherry"}

thisset.add("orange") # 순서 보장 안됨

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'apple', 'mango', 'papaya', 'banana'}

In [15]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange", "apple"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'cherry', 'apple', 'banana'}

In [16]:
# 아이템 삭제
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [17]:
# 아이템 삭제
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [18]:
# 마지막 아이템 꺼내오기
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

## (4) 집합 함수
https://www.w3schools.com/python/python_sets_methods.asp